@charset "UFT-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
p{
    text-align: justify;
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6a742cbe;
}

body{
    background-image: linear-gradient(to right, #6A8C69, #A8B545);     
}
h1{
    color: #53736A;
    text-align: center;
    text-shadow: 1px 1px 2px #283632c7;
}

h2{
    color: #A8B545;
}
